.navbar{
    height: 50px;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.logo{
    font-weight: bold;
    font-size: 20px;
}

.iconImg{
    width: 20px;
    height: 20px;
}

.icon{
    margin-left: 15px;
    cursor: pointer;
    position: relative;
}

.icons{
    display: flex;
    align-items: center;
}
  
.counter{
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    font-size: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: -5px;
    right: -5px;
}

.logo{
    font-weight: bold;
    font-size: 20px;
}

.interaction{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.cardIcon{
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 10px;
}